.background__image {
  background: url(./bacground-hero.png) no-repeat center center fixed;
  background-size: cover;
  height: 700px;
  background-repeat: no-repeat;
  padding-top: 24px;
  position: relative;
}

.hero__avatar {
  position: absolute;
  width: 717px;
  top: 100px;
  right: 103px;
}

.socials__list {
  position: absolute;
  right: 164px;
  top: 220px;
}

.socials__item {
  fill: #fff;
  margin-top: 20px;

  &:first-child {
    margin-top: 0;
  }
}

.text__list{
  margin-left: 165px;
  margin-top: 230px;
}

.text__item {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  width: 376px;

  &:first-child::after{
    content: '';
    background-image: url(../../images/Rectangle48.png);
    width: 152px;
    height: 40px;
    display: block;
    background-color: transparent;
    background-repeat: no-repeat;
    fill: #fff;
    margin-left: 92px;
  }
}

.hero__btn{
  width: 260px;
  height: 80px;
  font-family: 'HeadlandOne';
font-weight: 400;
font-size: 24px;
line-height: 30px;
text-align: center;
color: #26C7EA;
background-color: #0B0E66;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 31px;
padding-right: 30px;
border: 3px solid #26C7EA;
border-radius: 45px 0px;
margin-top: 45px;
margin-left: 164px;
}

.socials__link{
  animation-timing-function: cubic-bezier(0.01, -0.01, 0.55, 1);
transition-duration: 250ms;
transition-delay: 50ms;

&:hover{
  fill: #26C7EA;
}
}
