.trailer{
    background-image: url(../../images/Rectangle10.png);
  background-size: cover;
  height: 700px;
  background-repeat: no-repeat;
}

.trailer__button{
    font-family: 'HeadlandOne';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;
color: #26C7EA;
background-color: #0B0E66;
border: 3px solid #26C7EA;
border-radius: 45px 0px;
width: 260px;
height: 80px;
margin-top: 20%;
margin-left: 42%;
}